head {
  margin: 0%;
}
body {
  margin: 0;
}
.homebutton {
  position:absolute;
  top: 80px;
  left: 20px;
  }

  .my_portfolio{
position: absolute;
top: 800px;
left: 1300px;
  }

section {
  margin: 0%;
  padding: 0%;
}

h1 {
  margin: 0;
  padding: 40px 0px 0px 0px;
  text-align: center;
  position: relative;
  color:azure;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100px;
  font-weight:900;
  
}

h2 {
  padding: 0px 0px 050px 0px;
  text-align: center;
  position: relative;
  color:azure;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 60px;
  font-weight:700;
  margin-bottom: 0px;
}

p {
  margin: 0%;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.caption {
  margin: 0%;
  font-size: 15px;
  color:brown;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
}

.masthead {
  margin: 0%;
  padding: 0%;
  background-image: url(../images/MAST_IMAGE.png);
  background-size: cover;
  background-repeat: none;
  width: 100vw;
}
.homebg {
  background-image: url(../images/home_background.jpg);
  image-resolution: 72px;
  height: 80vh;
  width: 100vw;
  fill-opacity: 50%;

}

.historybg {
  image-resolution: 72px;
  height: 80vh;
  width: 100vw;
}

.gallerybg {
  image-resolution: 72px;
  height: 80vh;
  width: 100vw;
}
.casebg {
  image-resolution: 72px;
  height: 80vh;
  width: 100vw;
}
.artistsbg {
  image-resolution: 72px;
  height: 80vh;
  width: 100vw;
}
.flex-me {
  padding: 50px 50px 50px 150px;
  display: flex;
  align-content: space-around;
}

.flex-me div {
  flex: 1;
}

.gallery-page .wrapper {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/gallery_background.jpg');
  background-size: cover;
  background-repeat: none;
}

.history-page {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/history_background.jpg');
  background-size: cover;
  background-repeat: none;
}

.homepage{
  height: 100vh;
  width: 100vw;
  background-image: url('../images/home_background.jpg');
  background-size: cover;
  background-repeat: none;
}

.parkscase{
  height: 100vh;
  width: 100vw;
  background-image: url('../images/case_bg.jpg');
  background-size: cover;
  background-repeat: none;
}

.artists{
  height: 100vh;
  width: 100vw;
  background-image: url('../images/artists_background.jpg');
  background-size: cover;
  background-repeat: none;
}
.homepage nav {
  position: relative;
  text-align: center;
  width: 559px;
  margin: 200px auto 0 auto;
}
.gallery,
.gallery-off {
  position: absolute;
  top: -135px;
  left: 0;
}
.history,
.history-off {
  position: absolute;
  top: -130px;
  left: 180px;
}
.artist,
.artist-off {
  position: absolute;
  top: -120px;
  left: 350px;
}
.case,
.case-off {
  position: absolute;
  top: 163px;
  left: -55px;
}
.case-off,
.history-off,
.gallery-off,
.artist-off {
  opacity: 0;
}
.case-off:hover,
.history-off:hover,
.gallery-off:hover,
.artist-off:hover {
  opacity: 1;
}
.shephard,
.shephard_off {
  position:absolute;
  top: 350px;
  left: 300px
}
.banksy,
.banksy_off {
  position:absolute;
  top: 350px;
  left: 900px
}
.blu,
.blu_off {
  position:absolute;
  top: 650px;
  left: 900px
}
.mentalgassi,
.mentalgassi_off {
  position:absolute;
  top: 650px;
  left: 300px
}

.shephard_off,
.banksy_off,
.mentalgassi_off,
.blu_off {
  opacity: 0;
}
.shephard_off:hover,
.banksy_off:hover,
.mentalgassi_off:hover,
.blu_off:hover {
  opacity: 1;
}


